.modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: var(--color-card);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  background: red;
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.modal__img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.modal__stats {
  list-style: none;
  padding: 0;
}

